@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
	border: 1px solid $border;
	padding: 0.5rem;
	font-size: 0.875rem;

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

.cardTitle {
	font-size: 1rem;
	font-weight: 700;
}

.particle {
	margin-block: 0.5rem;
}

.warning,
.expired {
	width: fit-content;
	margin-left: auto;
	padding: 0.25rem;
	border-radius: 0.25rem;
	margin-block: 0.5rem;
}

.warning {
	border: 1px solid #6e6e00;
	color: #6e6e00;
	background-color: rgba(255, 255, 0, 0.3);
}

.expired {
	border: 1px solid #ff0000;
	color: #ff0000;
	background-color: rgba(255, 0, 0, 0.3);
}

.btnsWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.itemBtn {
	@include controlBtn;
	
	&.edit {
		color: #0000ff;
	}
	
	&.remove {
		color: #ff0000;
	}
}

.moveToProgressBtn {
	@include btnStyles(#fff, #00e9b6, #00bb92);
}