@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
	border: 1px solid $border;
	padding: 0.5rem;
	font-size: 0.875rem;
	color: #858585;

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

.removeItemBtn {
	@include controlBtn;
	color: #ff0000;
}
