@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;700&display=swap');
@import './variables.scss';

body {
	margin: 0;
	font-family: 'Krub', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bg-primary;
}

input,
textarea {
	font-family: 'Krub', sans-serif;
	font-size: 14px;
	padding: 0.5rem;

	&:focus {
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	}
}

textarea {
	resize: vertical;
}

.appHeader {
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	padding: 1rem;

	@media screen and (min-width: $breakpoint-sm) {
		padding: 0;
		margin: 0 auto;
	}

	@media screen and (min-width: $breakpoint-sm) and (max-width: ($breakpoint-md - 1)) {
		max-width: 540px;
	}

	@media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
		max-width: 720px;
	}

	@media screen and (min-width: $breakpoint-lg) and (max-width: ($breakpoint-xl - 1)) {
		max-width: 960px;
	}

	@media screen and (min-width: $breakpoint-xl) {
		max-width: 1140px;
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;

	@media screen and (min-width: $breakpoint-lg) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.addItemContainer {
	@media screen and (min-width: $breakpoint-lg) {
		grid-row: 1;
		grid-column: 1 / span 3;
	}
}

.awaitingContainer {
	@media screen and (min-width: $breakpoint-lg) {
		grid-row: 2;
		grid-column: 1;
	}
}

.inProgressContainer {
	@media screen and (min-width: $breakpoint-lg) {
		grid-row: 2;
		grid-column: 2;
	}
}

.doneContainer {
	@media screen and (min-width: $breakpoint-lg) {
		grid-row: 2;
		grid-column: 3;
	}
}
