// ---------- breakpoints ----------
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// ---------- colors ----------
$bg-primary: #f9f9f9;
$bg-secondary: #c5c5c5;
$border: #adadad;