@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
	border: 1px solid $border;
	padding: 0.5rem;
	font-size: 0.875rem;

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

.cardTitle {
	font-size: 1rem;
	font-weight: 700;
}

.particle {
	margin-block: 0.5rem;
}
