@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.modalBG {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid $border;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.4);
}

.btnWrapper {
	padding: 0.5rem;
	display: flex;
	justify-content: right;
}

.closeBtn {
	@include controlBtn;
	border: 1px solid $border;
	border-radius: 50%;
	background-color: rgba(173, 173, 173, 0.2);
}
