@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.inputContainer {
	padding-block: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5rem;

	@media screen and (min-width: $breakpoint-md) {
		grid-template-columns: 1fr 4fr;
	}
}

.timeReqWrapper {
	display: grid;
	grid-template-columns: repeat(3, 80px);
	gap: 1.5rem;
}

.timeReqBox {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.25rem;
}

.timeReqLabel {
	font-size: 0.75rem;
	text-align: center;
}

.submitBtn {
	@include btnStyles(#fff, #00e9b6, #00bb92);
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
